<header class="SiteHeader">
  <div class="SiteNavigation" role="navigation">
    <a>News</a>
    <a>About</a>
    <a>Listen</a>
    <div class="LogoImageContainer">
      <img class="LogoImage" [src]="imgPath" alt="cyberaptor_logo">
    </div>
    <a>Gigs</a>
    <a>Merch</a>
    <a>Contact</a>
    <div class="MenuIconContainer">
      <label class="menu-icon"><span class="navicon"></span></label>
    </div>
  </div>
</header>

<div class="EPImageContainer">
  <img class="EpImage" [src]="epImgPath" alt="neonslaughtArt">
</div>
