@import '~foundation-sites/scss/foundation';

@include foundation-everything(true);
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$toxic-color: #32CD32;


.SiteHeader {
  background-color: black;
}

.EpImage {
  width: 35%;
  max-width: 500px;
  min-width: 297px;
  min-height: 300px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.LogoImageContainer {
  order: -1;
  padding: 0 40px;
  width: auto;

  @media #{$tablet} {
    width: 100%;
  }

  @media #{$desktop} {
    order: 0;
    width: auto;
  }
}

.LogoImage {
  order:-1;
  width: 400px;
}


.EPImageContainer {
  text-align: center;
  margin: 50px;

}

.SiteNavigation {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  @media #{$mobile} {
    flex-wrap: nowrap;
  }

  @media #{$tablet} {
    justify-content: center;
  }

  @media #{$desktop} {
    justify-content: center;
  }

  a {
    font-family: Courier;
    color: white;
    margin: 10px 10px 0;
    padding: 0 10px;
    transition: color 1s;

    @media #{$mobile} {
      display: none;
    }
  }

  .menu-icon {

    &:hover {
      animation-name: toxic;
      animation-duration: 1s;
    }
  }

  a:hover {
    color:$toxic-color;
  }

  @media #{$tablet} {
    padding-bottom: 5px;
  }

  @media #{$desktop} {
    padding-bottom: 20px;
  }
}

.MenuIconContainer {
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;

  @media #{$tablet} {
    display: none;
  }

  @media #{$desktop} {
    display: none;
  }
}
@keyframes toxic {
  from {color: white;}
  to {color: $toxic-color;}


}

@keyframes type {
  from {width: 0;}
  to {width: 5%;}

}



