@import '~foundation-sites/scss/foundation';

@include foundation-everything(true);

.SiteHeader {
  background-color: black;
}

.EpImage {
  width: 35%;
  max-width: 500px;
  min-height: 300px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.LogoImage {
  width: 500px;
  max-width: 500px;
  padding: 0 40px;
}


.EPImageContainer {
  text-align: center;
  margin: 50px;

}

.SiteNavigation {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  a {
    font-family: Courier;
    width: 5%;
    display: inline;
    color: white;
    margin: 0 10px;
    padding: 0 10px;
  }

  a:hover {
    animation-name: toxic;
    animation-duration: 1s;
  }
}
@keyframes toxic {
  from {color: white;}
  to {color: #32CD32;}

}

@keyframes type {
  from {width: 0;}
  to {width: 5%;}

}



